@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navabar section */

.navbar-brand {
    font-family: "Lobster", sans-serif;
}

.navbar-nav {
    font-family: "Inter", sans-serif;
}


@media screen and (max-width: 576px) {
    .banner-text {
      font-size: 20px;
    }
}